<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  </configSections>
	<connectionStrings>
		<add name="dbFormFillEntities" connectionString="metadata=res://*/RegixEntityModels.csdl|res://*/RegixEntityModels.ssdl|res://*/RegixEntityModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.23.104.146;initial catalog=dbFormFill;persist security info=True;user id=FormFillUsr;password=F0rmF1llU$r2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRegiXEntryPoint" maxReceivedMessageSize="10000000">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RegiXClientCertificate">
          <clientCredentials>
            <clientCertificate x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My" findValue="4ae3fec7261c0528c39de0f042cf11d31c30b2ac" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint behaviorConfiguration="RegiXClientCertificate" address="https://regix-service-test.egov.bg/RegiX/RegiXEntryPoint.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRegiXEntryPoint" contract="RegixServiceReference.IRegiXEntryPoint" name="WSHttpBinding_IRegiXEntryPoint" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>